* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: black;
}

p {
	margin: auto;
	margin-top: 100px;
	padding: 20px;
	font-size: 4rem;
	width: 300px;
	height: auto;
	background-color: black;
	color: orange;
	text-align: center;
}

button {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	font-size: 1.2rem;
	border-color: orange;
	border-radius: 2px;
	background-color: black;
	color: orange;
}

input {
	background-color: black;
	color: orange;
	border-color: orange;
}