* {
	margin: 0;
}

ul {
	list-style-type: none;
/*	background-color: purple;*/
}

li {
	display: inline-block;
	margin: 10px;
	margin-top: 10px;
	color: white;
	font-size: 2rem;
	padding: 10px;
}

li:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

.header {
	width: 100vw;
	height: 100vh;
	background-image: url('2.jpg');
}

.text {
	width: 380px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
}

h1 {
	margin-bottom: 15px;
}

p {
	margin-bottom: 15px;
}

button {
	padding: 10px 30px;
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
	border-radius: 2px;
}

button:hover {
background-color: blue;
}