* {
	margin: 0;
}

img {
	width: 100vw;
	height: 50px;
	background-size: cover;
}

ul {
	list-style-type: none;
	background-color: purple;
	position: sticky;
	top: 0;
}

li {
	display: inline-block;
	margin: 10px;
	margin-top: 10px;
	color: white;
	font-size: 2rem;
	padding: 10px;
	border-right: 1px solid white;
}

li:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

p {
	font-size: 8em;
}

.last {
	border: none;
}