* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #EAEDF1;
}

form {
	width: 25%;
	margin: auto;
	margin-top: 100px;
	font-family: arial;
}

div {
	background-color: white;
	margin-bottom: 10px;
}

button {
	width: 100%;
	padding: 10px;
	border: none;
	background-color: #F37730;
	color: white;

}

h2 {
	background-color: #323A45;
	color: rgba(255, 255, 255, 0.8);
	padding: 10px;
	text-align: center;
}

input {
	width: 100%;
	border: none;
	font-size: 1.1em;
	padding: 5px 0 10px 0;
}

label {
	display: block;
	font-size: 0.8em;
	color: #F37730;
}

textarea {
	border: none;
	width: 100%;
	height: 130px;
	padding: 5px 0;
}

p {
	border-bottom: 1px solid grey;
	margin-bottom: 10px;
	padding: 10px 15px;
}

.last {
	border: none;
}