* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgba(0, 0, 0, 0.6);
}

label {
	display: block;
	margin-bottom: 5px;
}

form {
	width: 25%;
	margin: auto;
	margin-top: 100px;
	background-color: white;
	font-family: arial;
}

h1 {
	text-align: center;
	background-color: white;
	padding: 20px;
}

input {
	width: 100%;
	padding: 10px;
	font-size: 1.2rem;
	border: none;
	border-radius: 5px;
}

button {
	width: 100%;
	border: none;
	padding: 10px;
	color: white;
	background-color: #397DD4;
	font-weight: bold;
	border-radius: 3px;
	font-size: 1em;
}

div {
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.1);
}

p {
	margin-bottom: 30px;
}