* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


#one {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: red;
}

.box {
	width: 600px;
	height: 600px;
}