* {
	margin: 0;
	padding: 0;
}

table {
	text-align: center;
	border-collapse: collapse;
	margin: auto;
	margin-top: 100px;
}

th {
	border: 1px solid black;
	padding: 10px 30px;
	background-color: #2AA1DD;
	color: white;
}

td {
	border: 1px solid black;
	padding: 10px 30px;
}

p {
	width: 278px;
	padding: 20px;
	border: 1px solid black;
	float: right;
}