*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.unicum{
	height: 90vh;
	position: relative;
	padding: 40px;
	
}
.unicum .img{
	position: absolute;
	background-image:url(champ/5.jpg);
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-size: cover;
	filter: brightness(0.3);
	z-index: -100;
	animation-name: bg;
	animation-duration: 10s;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

}
@keyframes bg{
	0%{
		background-image: url(champ/7.jpg);
		background-size: cover;
		filter: brightness(0.3);
	}
	20%{
		background-image: url(champ/6.jpg);
		background-size: cover;
		filter: brightness(0.3);
	}
	40%{
		background-image: url(champ/5.jpg);
		background-size: cover;
		filter: brightness(0.3);
	}
	60%{
		background-image: url(champ/8.jpg);
		background-size: cover;
		filter: brightness(0.3);
	}
	80%{
		background-image: url(champ/6.jpg);
		background-size: cover;
		filter: brightness(0.3);
	}
	100%{
		background-image: url(champ/5.jpg);
		background-size: cover;
		filter: brightness(0.3);
	}
}
.unicum>h1{
	position: absolute;
	color: white;
	top: 20px;
	left: 100px;
	color: #9BB947;
	font-size: 3rem;
	font-weight: normal;
}
.label{
	position: absolute;
	color: #9BB947;
	display: none;
}
#home{
	display: none;
}
.navbar{
	list-style-type: none;
	text-align: right;
}
.navbar li:nth-child(1){
	color: #9BB947;
}
.navbar li{
	display: inline-block;
	text-align: center;
	color: white;
	padding: 5px;
	font-family: Arial;
	font-size: 0.6rem;
}
.navbar li:hover{
	background-color: rgba(255,255,255,0.5);
	color: black;
	border-radius: 50px;
	cursor: pointer;
}
li:first-letter{
	font-size: 0.8rem;
}
.creative{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-10%, -60%);
}
.creative h2{
	font-weight: normal;
	color: white;
	font-size: 6rem;
	font-family: Calibri Light;
	margin-bottom: 5px;
}
.creative p{
	color: rgba(255,255,255,0.5);
	padding: 6px;
	font-size: 0.9rem;
	letter-spacing: 1px;
	margin-bottom: 30px;
}
.creative button{
	background-color: transparent;
	border:3px solid #9BB947;
	padding: 10px 30px;
	color: #9BB947;
	font-size:0.9rem;
	border-radius: 50px;
	outline: none;
	cursor: pointer;
}
@media (max-width: 1200px) {
	.unicum>h1{
		top: 20px;
		left: 20px;
		font-size: 2rem;
	}
	.creative h2{
		font-weight: normal;
		color: white;
		font-size: 3rem;
		font-family: Calibri Light;
		margin-bottom: 5px;
	}
	.navbar{
		text-align: left;
		position: fixed;
		top: 0%;
		left:-120px;
		background-color: rgba(0,0,0,0.3);
		height: 100vh;
		transition: left 0.5s linear;
		border-radius: 0px 30px 30px 0px;
		z-index: 100;
		padding-top: 70px;
	}
	.navbar li {
		display: block;
		margin: 10px 5px 0px 5px;
		padding: 10px 30px 10px 20px;
	}
	.label{
		display: block;
		position: absolute;
		top: -10px;
		right: 30px;
		border: 1px solid rgba(255,255,255,0.5);
		font-size: 1.2rem;
		z-index: 100;
		border: none;
		cursor: pointer;
	}
	.navbar li:nth-child(1){
		color: white;
	}
	.navbar li:hover{
		background-color: rgba(0,0,0,0.5);
		color: #9BB947;
		border-radius: 50px;
		cursor: pointer;
	}
}	
#home:checked + .navbar{
	display:inline-block;
	left:0px;
}
.about{
	background-image: url(champ/2.jpg);
	background-size: cover;
	background-position: center;
	padding: 100px 100px 200px 100px; 
}
.about1 h1{
	font-weight: normal;
	font-family:Perpetua;
	font-size: 5rem;
	margin-bottom: 50px;
}
.about1 p{
	color: rgba(0,0,0,0.75);
	font-size: 0.8rem;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin-bottom: 35px;
	font-family: Arial;
}
.about1 span{
	color: rgba(0,0,0,0.75);
	font-size: 0.8rem;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin-bottom: 30px;
	font-family: Arial;
	display: block;
}
.about1 button{
	background-color: transparent;
	border: 3px solid #06BEF8;
	color: #06BEF8;
	padding: 10px 30px;
	border-radius: 50px;
	font-size: 0.8rem;
	outline:none;
	cursor: pointer;
}
.watch{
	height: 100vh;
	position: relative;
}

.img2{
	position: absolute;
	background-image: url(champ/20.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: -100;
	filter: brightness(0.25);

}
.watch1{
	color: white;
	margin: auto;
	margin-top: 200px;
	text-align: center;
}
.watch1 h1{
	font-size:3.2rem;
	font-weight: normal;
	color: rgba(255,255,255,0.8);
	margin-bottom: 20px;
}
.span1{
	display: inline-block;
	font-weight: normal;
	font-family:Arial Unicode MS;
	
}
.watch1 b{
	color: white;
}
.play{
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-right: 40px;
	border: 1px solid white;
	border-radius: 50%;
	width: 10%;
	margin: auto;
}
.play button{
	background-color: transparent;
	border-width: 15px 25px;
	border-style: solid;
	border-color: transparent transparent transparent white;
}
.watch1 p{
	margin-top: 20px;
	display: inline-block;
	font-size: 0.5rem;
	letter-spacing: 1px;
	color: rgba(255,255,255,0.7);
}
.watch1 p:first-letter{
	font-size: 0.9rem;	
}
.watch1 span{
	display: block;
	color: rgba(255,255,255,0.7);
}