* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.box {
	width: 300px;
}

.box-div {
	border: 1px solid rgba(0, 0, 0, 0.6);
	border-radius: 5px;
	text-align: justify;
	padding: 10px;
}

.box-div div {
	transition: height 0.3s linear;
	height: 0;
	overflow: hidden;
}