* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: grey;
}

.box {
	width: 300px;
	height:400px;
	background-color: black;
	margin: auto;
	margin-top: 100px;
	border-radius: 10px;
	text-align: center;
	padding: 20px;
}

.butt {
	margin-top: 20px;
}

input {
	width: 100%;
	height: 40px;
	border-radius: 5px;
	background-color: orange;
	border: none;
	font-size: 1.7rem;
}

button {
	padding: 10px;
	margin: 10px;
	width: 40px;
	height: 40px;
	font-size: 1.2rem;
	border-radius: 2px;
	border: none;
}

.number {
	background-color: orange;
}

.func {
	background-color: yellow;
}