div {
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: red;
	animation-name: bgcolor;
	animation-duration: 4s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes bgcolor {
	0% {
		top: 0;
		left: 0;
		width: 100px;
		height: 100px;
	}

	25% {
		top: 0;
		left: 700px;
		width: 150px;
		height: 150px;
	}

	50% {
		top: 700px;
		left: 700px;
		width: 200px;
		height: 200px;
	}

	75% {
		top: 700px;
		left: 0;
		width: 150px;
		height: 150px;
	}

	100% {
		top: 0;
		left: 0;
		width: 100px;
		height: 100px;
	}
}