* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#app {
	width: 500px;
	height: 300px;
	margin: auto;
	margin-top: 100px;
	position: relative;
	font-size: 3rem;
	color: red;
}

img {
	width: 100%;
	position: absolute;
	transition: z-index 0.3s linear;
}

#app button {
	position: absolute;
	top: 50%;
	color: red;
	background-color: rgba(0, 0, 0, 0);
	width: 30px;
	height: 30px;
	font-size: 2rem;
	border: none;
}

#chap {
	left: -8%;
}

#ong {
	left: 103%;
}