* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: red;
}

.box {
	width: 90%;
}

img	{
	width: 24%;
}

img:nth-child(5) {
	width: 100%;
	margin-top: 30px;
}

img:nth-child(1) {
	filter: grayscale(0.8);
}

img:nth-child(2) {
	filter: brightness(0.7);
}

img:nth-child(3) {
	filter: sepia(0.9);
}

img:nth-child(4) {
	filter: blur(10px);
}

img:nth-child(1):hover ~ .screen {
	filter: grayscale(0.8);
}

img:nth-child(2):hover ~ .screen {
	filter: brightness(0.7);
}

img:nth-child(3):hover ~ .screen {
	filter: sepia(0.9);
}

img:nth-child(4):hover ~ .screen {
	filter: blur(10px);
}