* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@keyframes wheel {
	0% {
		transform: rotateZ(0);
	}

	100% {
		transform: rotateZ(360deg);
	}
}



#box {
	position: relative;
	width: 400px;
	transition: margin-left 2s linear;
}

#car {
	width: 100%;
}

#left, #center, #right {
	width: 40px;
	position: absolute;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

#left {
	top: 178px;
	left: 40px;
}

#center {
	top: 178px;
	left: 92px;
}

#right {
	top: 178px;
	left: 310px;
}