.clock {
	width: 500px;
	height: 500px;
	font-size: 24rem;
	margin: auto;
	margin-top: 170px;
	position: relative;
}

.clock div {
	position: absolute;
	transform-origin: bottom;
}

#hour {
	width: 7px;
	height: 80px;
	background-color: black;
	top: 39%;
	left: 52%;
	transform: translate(-50%, -50%);
}

#minute {
	width: 5px;
	height: 120px;
	background-color: blue;
	top: 31%;
	left: 52.6%;
	transform: translate(-50%, -50%);
}

#second {
	width: 1px;
	height: 170px;
	background-color: red;
	top: 21%;
	left: 52.5%;
	transform: translate(-50%, -50%);
}