* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

span {
	padding: 10px;
	background-color: red;
}

.clock {
	width: 200px;
	text-align: center;
	margin: auto;
	margin-top: 100px;
	font-size: 2rem;
	color: white;

}

b {
	color: red;
	animation-name: point;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes point {
	0% {
		color: black;
	}

	50% {
		color: red;
	}

	100% {
		color: black;
	}
}