* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

p {
	font-size: 5rem;
}

.box {
	width: 100vw;
	height: 300px;
	background-image: url('2.jpg');
	background-position: center;
	position: relative;
	background-attachment: fixed;
	background-size: cover;
}

h1 {
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-bottom: 3px solid green;
}

.ox {
	margin: auto;
	width: 400px;
	height: auto;
	margin-top: 200px;
	overflow: hidden;
}

img {
	width: 100%;
	transition: transform 0.5s linear, filter 0.5s linear;
	outline: 2px solid white;
	outline-offset: -15px;
}

.ox:hover img {
	transform: scale(1.5);
	filter: brightness(0.6);
}